.appBar {
  position: relative;
}
.flex{
  flex:  1;
}
.gridMargin{
  padding-top:5%;
}
.titleTextSize{
  font-size: 20px;
  font-weight: bold;
  margin:1%;
}
.total{
  position:fixed;
  padding-left: 80%;

  text-align: right;
}
.productImage{
  height: 100%;
  width: 100%;
}
.listPaddingTop{
  padding-top: 5%;
}
.trashColor{
  color: #b71c1c;
}
